<div id="main">
    <div id="left">
        <div id="image" [appFileDrop]="allowedFileTypes" (filesDropped)="onFileDrop($event)">
            @if (previews.length == 0) {
                <img src="/assets/no-image.jpg">
            }
            @if (previews.length > 0) {
                <img src="/api/files?fn={{fileNameAt(previewIndex)}}">
                @if (_product) {
                    <button id="trash" mat-icon-button (click)="removePreview()">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                }
            }
            @if (previews.length > 1) {
                <button id="left_arrow" mat-icon-button (click)="moveLeft()">
                    <span class="material-symbols-outlined">chevron_left</span>
                </button>
                <button id="right_arrow" mat-icon-button (click)="moveRight()">
                    <span class="material-symbols-outlined">chevron_right</span>
                </button>
            }
        </div>
        <div id="progress">
            @if (previews.length > 0) {
                <mat-label>{{previews.length}} fotografija učitano</mat-label>
                <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
            }
        </div>
        <div id="upload">
            <button mat-raised-button color="basic" (click)="fileBrowse.click()">
                Dodaj fotografije
            </button>
        </div>
    </div>
    <div id="right">
        <form [formGroup]="productForm">
            <mat-form-field class="w100">
                <mat-label>Naziv (opis) proizvoda</mat-label>
                <textarea matInput formControlName="name" cdkFocusInitial></textarea>
            </mat-form-field><br>
            <mat-form-field class="w50">
                <mat-label>Jedinica mjere</mat-label>
                <input type="text" matInput formControlName="unit" [matAutocomplete]="unit">
                <mat-autocomplete #unit="matAutocomplete" requireSelection="false"  (optionSelected)="setUnit($event)">
                    @for (unit of units; track unit) {
                        <mat-option>{{unit}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="w50">
                <mat-label>Prodajna cijena</mat-label>
                <input type="text" matInput formControlName="price" id="price" [class.invalid]="productForm.get('price')?.errors" (keypress)="onlyNumbersAndComma($event)">
            </mat-form-field><br>
            <mat-form-field class="w100">
                <mat-label>Kategorija</mat-label>
                <mat-select formControlName="category">
                    @for (node of flatCategories; track node) {
                        <mat-option [value]="node.category">{{node.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field><br>
        
            <mat-form-field class="w100">
                <mat-label>Oznake</mat-label>
                <mat-chip-grid #chipGrid>
                    @for (tag of tags.controls; track tag) {
                        <mat-chip-row (removed)="removeTag(tag.value)"
                        [editable]="false">
                        {{tag.value.name}}
                        <button matChipRemove>
                            <span class="material-symbols-outlined">cancel</span>
                        </button>
                    </mat-chip-row>
                }
                <input #tagInput placeholder="Nova oznaka..."
                [matChipInputFor]="chipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addTag($event)"
                [matAutocomplete]="auto" (keyup)="search(getValue($event))"/>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="tagToTagName" requireSelection="false" (optionSelected)="selectedTag($event)">
                    @for (t of tagSearchResult$ | async; track t) {
                        <mat-option [value]="t">{{t.name}}</mat-option>
                    }
                </mat-autocomplete>
                
            </mat-chip-grid>
            </mat-form-field><br>
        
            <mat-form-field class="w100">
                <mat-label>Komentar</mat-label>
                <textarea matInput formControlName="comment"></textarea>
            </mat-form-field><br>
            <input id="legacy" type="file" multiple (change)="filesSelected($event)" [accept]="allowedFileTypes.join(',')" #fileBrowse>
        </form>    
    </div>
</div>