<h2>Kategorije proizvoda<button mat-icon-button color="accent" title="Dodaj novu glavnu kategoriju" (click)="addMainCategory()"><span class="material-symbols-outlined">add_circle</span></button></h2>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
    <div id="actions">
      <button mat-icon-button *ngIf="!isFirstOfSiblings(node.category.id)" (click)="moveUp(node.category.id)" color="accent" title="Premjesti kategoriju gore">
        <span class="material-symbols-outlined">keyboard_arrow_up</span>
      </button>
      <button mat-icon-button disabled="" *ngIf="isFirstOfSiblings(node.category.id)" color="accent">
        <span class="material-symbols-outlined"></span>
      </button>
      <button mat-icon-button *ngIf="!isLastOfSiblings(node.category.id)" (click)="moveDown(node.category.id)" color="accent" title="Premjesti kategoriju dolje">
        <span class="material-symbols-outlined">keyboard_arrow_down</span>
      </button>
      <button mat-icon-button disabled="" *ngIf="isLastOfSiblings(node.category.id)" color="accent">
        <span class="material-symbols-outlined"></span>
      </button>
      <button mat-icon-button (click)="editCategoryName(node.category.id)" color="accent" title="Promijeni naziv kategorije">
        <span class="material-symbols-outlined">edit</span>
      </button>
      <button mat-icon-button (click)="addNewSubcategory(node.category.id)" color="accent" title="Dodaj novu podkategoriju">
        <span class="material-symbols-outlined">add_circle</span>
      </button>
      <button mat-icon-button (click)="drop(node.category.id)" color="accent" title="Obriši kategoriju">
        <span class="material-symbols-outlined">cancel</span>
      </button>
    </div>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <span class="material-symbols-outlined">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </span>
    </button>
    {{node.name}}
    <div id="actions">
      <button mat-icon-button *ngIf="!isFirstOfSiblings(node.category.id)" (click)="moveUp(node.category.id)" color="accent" title="Premjesti kategoriju gore">
        <span class="material-symbols-outlined">keyboard_arrow_up</span>
      </button>
      <button mat-icon-button disabled="" *ngIf="isFirstOfSiblings(node.category.id)" color="accent">
        <span class="material-symbols-outlined"></span>
      </button>
      <button mat-icon-button *ngIf="!isLastOfSiblings(node.category.id)" (click)="moveDown(node.category.id)" color="accent" title="Premjesti kategoriju dolje">
        <span class="material-symbols-outlined">keyboard_arrow_down</span>
      </button>
      <button mat-icon-button disabled="" *ngIf="isLastOfSiblings(node.category.id)" color="accent">
        <span class="material-symbols-outlined"></span>
      </button>
      <button mat-icon-button (click)="editCategoryName(node.category.id)" color="accent" title="Promijeni naziv kategorije">
        <span class="material-symbols-outlined">edit</span>
      </button>
      <button mat-icon-button (click)="addNewSubcategory(node.category.id)" color="accent" title="Dodaj novu podkategoriju">
        <span class="material-symbols-outlined">add_circle</span>
      </button>
      <button mat-icon-button (click)="drop(node.category.id)" color="accent" title="Obriši kategoriju">
        <span class="material-symbols-outlined">cancel</span>
      </button>
    </div>
  </mat-tree-node>
</mat-tree>
<div>
  <button mat-flat-button color="accent" (click)="updateCategories()" [disabled]="!dirty">
    Sačuvaj
  </button>
</div>
