<h2>Izmjena proizvoda</h2>
<app-product-form [product]="product" #productForm></app-product-form>
<div class="clear">
    <button mat-flat-button color="warn" (click)="deleteProduct()">Obriši proizvod</button>
    <button mat-flat-button color="basic" (click)="updateProduct()" [disabled]="!hasUnsavedChanges()">Sačuvaj izmjene</button>
</div>
<app-stock-info class="clear" [productId]="product?.id"></app-stock-info>   
@if (product) {
    <div class="clear">
        <p>Dostupna količina: {{product.availableQty}} {{product.unit}}</p>
        @if (product.offeredQty) {
            <p>Rezervisana količina: <a href="/offers?p={{productId}}&s=ACTIVE">{{product.offeredQty}} {{product.unit}}</a></p>
        } @else {
            <p>Rezervisana količina: 0 {{product.unit}}</p>
        }
        @if (product.orderedQty) {
            <p>Prodata količina: <a href="/offers?p={{productId}}&s=ACCEPTED">{{product.orderedQty}} {{product.unit}}</a></p>
        } @else {
            <p>Prodata količina: 0 {{product.unit}}</p>
        }
        @if (product.purchasePrice) {
            <p>Nabavna cijena: <span title="{{product.purchasePrice! | toEuro | currency : '1.2-2' : '€'}}">{{product.purchasePrice | currency : '1.2-2' : 'KM'}}</span></p>
        }
        @if (product.repairableQty) {
            <p>Oštećeno: {{product.repairableQty}} {{product.unit}}</p>
        }
    </div>
}
