<div id="main">
    <div id="form">
        <mat-form-field class="w100">
            <mat-label>Pojam za pretragu</mat-label>
            <input matInput type="text" [(ngModel)]="query">
        </mat-form-field>
        <mat-checkbox class="w100" labelPosition="after" [(ngModel)]="searchComments" [disabled]="!queryIsNotEmpty()">Pretražuj i unutar komentara</mat-checkbox><br>
        <mat-form-field class="w100">
            <mat-label>Skladište</mat-label>
            <input type="text" (keyup)="searchWarehouses(getValue($event))" [(ngModel)]="selectedWarehouse"
            matInput [matAutocomplete]="autoWH">
            <mat-autocomplete #autoWH="matAutocomplete" [displayWith]="warehouseToWarehouseName" requireSelection="true">
            @for (w of warehouseSearchResult$ | async; track w) {
                <mat-option [value]="w">{{warehouseToWarehouseName(w)}}</mat-option>
            }
            </mat-autocomplete>
        </mat-form-field><br>
        <mat-form-field class="w100">
            <mat-label>Oznake</mat-label>
            <mat-chip-grid #chipGrid [(ngModel)]="tags">
                @for (tag of tags; track tag) {
                    <mat-chip-row (removed)="removeTag(tag)"
                    [editable]="false">
                    {{tag}}
                    <button matChipRemove>
                        <span class="material-symbols-outlined">cancel</span>
                    </button>
                </mat-chip-row>
            }
            <input #tagInput placeholder="Dodaj oznaku..."
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            [matAutocomplete]="autoTag" (keyup)="searchTags(getValue($event))"/>
            <mat-autocomplete #autoTag="matAutocomplete" [displayWith]="tagToTagName" requireSelection="false" (optionSelected)="selectedTag($event)">
                @for (t of tagSearchResult$ | async; track t) {
                    <mat-option [value]="t">{{t.name}}</mat-option>
                }
            </mat-autocomplete>
        </mat-chip-grid>
        </mat-form-field><br>
        <mat-form-field class="w100">
            <mat-label>Kategorija</mat-label>
            <mat-select [(ngModel)]="selectedCategory">
                <mat-option [value]="null">(poništi)</mat-option>
                @for (node of flatCategories; track node) {
                    <mat-option [value]="node">{{node.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <div id="buttons">
        <button mat-flat-button color="basic" (click)="cancel()">Odustani</button>
        <button mat-flat-button color="accent" (click)="applyFilter()">Primijeni</button>
    </div>
</div>
