<h2>Ponude<button mat-icon-button color="accent" (click)="addNewOffer()"><span class="material-symbols-outlined">add_circle</span></button></h2>

@if (offers && offers.content)
  {

  @if (isFilterApplied())
    {
    <button mat-fab color="accent" (click)="openOfferFilter()">
      <span class="material-symbols-outlined">tune</span>
    </button>
  } @else {
    <button mat-fab color="basic" (click)="openOfferFilter()">
      <span class="material-symbols-outlined">tune</span>
    </button>
  }

  <mat-paginator [length]="offers.page.totalElements"
    [pageIndex]="offers.page.number"
    [pageSize]="offers.page.size"
    [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"
    aria-label="Select page" (page)="updateTable($event)">
  </mat-paginator>

  <table mat-table [dataSource]="offers.content" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Broj ponude </th>
      <td mat-cell *matCellDef="let element"> <a routerLink="/offers/{{element.id}}"> {{element.id}} </a> </td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> Kompanija </th>
      <td mat-cell *matCellDef="let element"> {{element.company.name}} </td>
    </ng-container>

    <ng-container matColumnDef="offerDate">
      <th class="center" mat-header-cell *matHeaderCellDef> Datum ponude </th>
      <td class="center" mat-cell *matCellDef="let element"> {{element.offerDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="validUntil">
      <th class="center" mat-header-cell *matHeaderCellDef> Važnost ponude </th>
      <td class="center" mat-cell *matCellDef="let element" [class.invalid]="isOfferInvalid(element)"> {{element.validUntil | date}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th class="center" mat-header-cell *matHeaderCellDef> Status ponude </th>
      <td class="center" mat-cell *matCellDef="let element">
        @if (element.status == 'ACTIVE') {
          <span title="{{element.status | offerStatusLocalize}}" class="material-symbols-outlined">update</span>
        }
        @if (element.status == 'CANCELED') {
          <span title="{{element.status | offerStatusLocalize}}" class="material-symbols-outlined">cancel</span>
        }
        @if (element.status == 'ACCEPTED') {
          <span title="{{element.status | offerStatusLocalize}}" class="material-symbols-outlined">handshake</span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th class="right" mat-header-cell *matHeaderCellDef> Nabavna vrijednost </th>
      <td class="right" mat-cell *matCellDef="let element" title="{{element.cost | toEuro | currency : '1.2-2' : '€'}}"> {{element.cost | currency : '1.2-2' : 'KM'}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th class="right" mat-header-cell *matHeaderCellDef> Prodajna vrijednost </th>
      <td class="right" mat-cell *matCellDef="let element" title="{{element.value | toEuro | currency : '1.2-2' : '€'}}"> {{element.value | currency : '1.2-2' : 'KM'}} </td>
    </ng-container>

    <ng-container matColumnDef="margin">
      <th class="right" mat-header-cell *matHeaderCellDef> Marža </th>
      <td class="right" mat-cell *matCellDef="let element"> {{(element.margin / 100) | percent : '1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th class="center" mat-header-cell *matHeaderCellDef> Komentar </th>
      <td class="center" mat-cell *matCellDef="let element"> @if (element.comments) {
        <span class="material-symbols-outlined" title="{{element.comments}}">comment</span>
      } </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th class="center" mat-header-cell *matHeaderCellDef> Akcije </th>
      <td class="center" mat-cell *matCellDef="let element">
        <a mat-icon-button color="accent" title="Pogledaj ponudu" routerLink="/offers/{{element.id}}">
          <span class="material-symbols-outlined">visibility</span>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let element;" [class.strikethrough]="element.status == 'CANCELED'"></tr>
  </table>

}

